{
  "extends": [
    "eslint-config-egg/typescript",
    "eslint-config-prettier",
    "tslint-config-prettier"
  ],
  "plugins": ["prettier"],
  "parserOptions": {
    "project": "./tsconfig.json"
  }
}
